<?xml version="1.0" ?>
<launch>
  <arg name="robot_ip" default="192.168.1.12"/>

  <!-- Load the robot description -->
  <arg name="simulation" value="false"/>
  <arg name="description" default="superpanda"/>
  <arg name="tool" default="panda_hand"/>
  <arg name="load_gripper" default="true"  if="$(eval arg('tool') == 'panda_hand')"/>
  <arg name="load_gripper" default="false" unless="$(eval arg('tool') == 'panda_hand')"/>

  <include file="$(find moma_robot)/launch/robot_pc_panda_description.launch">
    <arg name="description" value="$(arg description)" />
    <arg name="tool" value="$(arg tool)" />
  </include>

  <node name="joint_state_publisher" type="joint_state_publisher" pkg="joint_state_publisher" output="screen">
    <rosparam if="$(arg load_gripper)" param="source_list">[panda/franka_state_controller/joint_states, panda/franka_gripper/joint_states] </rosparam>
    <rosparam unless="$(arg load_gripper)" param="source_list">[panda/franka_state_controller/joint_states] </rosparam>
    <param name="rate" value="30"/>
  </node>

  <!-- OCS2 params -->
  <group ns="ocs2_mpc">
    <param name="robot_description_ocs2" command="$(find xacro)/xacro $(find moma_description)/urdf/$(arg description).urdf.xacro mpc_model:=true use_nominal_extrinsics:=true tool:='none'"/>
    <param name="reference_frame" value="tracking_camera_odom"/>
  </group>

  <group ns="panda">
      <node name="franka_control" pkg="franka_control" type="franka_control_node" output="screen" required="true">
        <rosparam command="load" file="$(find moma_robot)/config/franka_control_node.yaml" />
        <param name="robot_ip" value="$(arg robot_ip)" />
      </node>

      <node name="panda_autorecovery" pkg="moma_robot" type="panda_autorecovery.py" output="screen"/>

      <!-- Launch franka gripper -->
      <include file="$(find franka_gripper)/launch/franka_gripper.launch" if="$(arg load_gripper)">
         <arg name="robot_ip" value="$(arg robot_ip)" />
      </include>

      <rosparam command="load" file="$(find franka_control)/config/default_controllers.yaml" />
      <node name="state_controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="franka_state_controller"/>

      <!-- Load all available controllers -->
      <rosparam command="load" file="$(find moma_robot)/config/controllers.yaml" subst_value="true"/>

      <!-- Load but do not start these controllers -->
      <arg name="controllers_load_list"
           value="joint_space_controller
                  joint_velocity_controller
                  mpc_controller
                  mpc_wholebody_controller
                  cartesian_impedance_controller
                  path_admittance_controller"/>
      <node name="controller_loader" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="--stopped $(arg controllers_load_list)" />

      <!-- Already start these controllers -->
      <arg name="controllers_start_list" value="path_passthrough_controller"/>
      <node name="controller_starter" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="$(arg controllers_start_list)" />
  </group>

</launch>
