<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <!--    Args-->
    <arg name="sensor" default="none"/>  <!-- only 'rokubimini' supported for now -->
    <arg name="test" default="false"/>
    <arg name="debug" default="false"/>

    <arg name="launch_prefix" default="" unless="$(arg debug)"/>
    <arg name="launch_prefix" default="gdb -ex run --args" if="$(arg debug)"/>

    <!--    Force torque sensor ROS bridge-->
    <include file="$(find moma_sensor_tools)/launch/rokubimini.launch" if="$(arg(sensor) == 'rokubimini')"/>
  
    <!--    Gravity compensation and filtering params -->
    <arg name="calibration_file" value="$(find moma_sensor_tools)/config/payload_calibration/calibration.yaml">
    
    <!--  Gravity compensation and filtering node -->
    <node pkg="moma_sensor_tools" name="ft_sensor_node" type="ft_sensor_node" output="screen"
          launch-prefix="$(arg launch_prefix)">
        <rosparam command="load" file="$(arg calibration_file)" subst_value="true"/>
        <param name="debug" value="true"/>
    </node>

    <group if="$(arg test)">
        <node pkg="tf2_ros" type="static_transform_publisher" name="static_sensor_tf"
              args="0 0 0 0 0 0 world $(arg sensor_frame)"/>
    </group>
</launch>
