<?xml version="1.0"?>
<launch>
    <arg name="robot_name"  default="panda"/>
    <arg name="rviz"        default="true" />
    <arg name="task_file"   default="$(find moma_ocs2)/config/mpc/task_$(arg robot_name).info"/>
    <arg name="debug"       default="false" />
    <!-- 0 = none, 1 = skidsteer, 2 = holonomic -->
    <arg name="base_type"   default="0"/>

    <group ns="ocs2_mpc">
        <param name="task_file" value="$(arg task_file)"/>
        <param name="robot_description_ocs2" command="$(find xacro)/xacro $(find moma_ocs2)/urdf/kinova.urdf" if="$(eval robot_name == 'kinova')"/>
        <param name="robot_description_ocs2" command="$(find xacro)/xacro $(find moma_description)/urdf/superpanda.urdf.xacro use_nominal_extrinsics:=true tool:='none'" if="$(eval robot_name == 'panda')"/>
        <param name="base_type" value="$(arg base_type)"/>
    </group>

    <param name="robot_description" command="$(find xacro)/xacro $(find moma_description)/urdf/superpanda.urdf.xacro use_nominal_extrinsics:=true tool:='none'" if="$(eval robot_name == 'panda')"/>

    <group if="$(arg rviz)">
      <include file="$(find moma_ocs2)/launch/visualize.launch">
        <arg name="robot_name" value="$(arg robot_name)"/>
      </include>
    </group>

    <node if="$(arg debug)" pkg="moma_ocs2" type="mobile_manipulator_mpc_node" name="mobile_manipulator_mpc_node"
          output="screen" launch-prefix="gnome-terminal -- gdb -ex run --args"/>
    <node unless="$(arg debug)" pkg="moma_ocs2" type="mobile_manipulator_mpc_node" name="mobile_manipulator_mpc_node"
          output="screen" launch-prefix=""/>

    <node pkg="moma_ocs2" type="mobile_manipulator_dummy_mrt_node" name="mobile_manipulator_dummy_mrt_node"
          output="screen" launch-prefix=""> <!-- gnome-terminal -->
    </node>

    <node if="$(arg rviz)" pkg="moma_ocs2" type="mobile_manipulator_target" name="mobile_manipulator_target"
          output="screen" args="$(arg robot_name)"/>
</launch>
