<?xml version="1.0"?>
<launch>
  <arg name="wrist_camera" default="true" />
  <arg name="fixed_camera" default="false" />
  <!-- FOR JETSON: https://github.com/dnovischi/jetson-tutorials/pull/8/files -->

  <!-- Launch wrist camera -->
  <include if="$(arg wrist_camera)"
    file="$(find realsense2_camera)/launch/rs_camera.launch">
    <arg name="camera" value="wrist_camera" />
    <arg name="depth_width" value="640" />
    <arg name="depth_height" value="480" />
    <arg name="depth_fps" value="30" />
    <arg name="enable_pointcloud" value="true" />
    <arg name="publish_tf" value="true" />
    <arg name="initial_reset" value="true"/>
    <!-- <arg name="serial_no" value="828112072238" /> -->
  </include>

  <!-- Launch fixed camera -->
  <include if="$(arg fixed_camera)"
    file="$(find realsense2_camera)/launch/rs_camera.launch">
    <arg name="camera" value="fixed_camera" />
    <arg name="depth_width" value="640" />
    <arg name="depth_height" value="480" />
    <arg name="depth_fps" value="30" />
    <arg name="enable_pointcloud" value="true" />
    <arg name="publish_tf" value="true" />
    <arg name="serial_no" value="231522070510" />
  </include>
</launch>
