<launch>
  <node pkg="nodelet" type="nodelet" name="pcl_manager" args="manager" output="screen" />
  <node pkg="nodelet" type="nodelet" name="passthrough_x" args="load pcl/PassThrough pcl_manager" output="screen">
      <remap from="~input" to="/rs_435_1/depth/color/points" />
      <remap from="~output" to="/world_cloud"/>
      <rosparam>
        output_frame: world
      </rosparam>
  </node>
</launch>