[submodule "franka_ros"]
	path = submodules/franka_ros
	url = git@github.com:ethz-asl/franka_ros.git
	branch = melodic-devel
[submodule "ridgeback"]
	path = submodules/ridgeback
	url = git@github.com:ethz-asl/ridgeback.git
	branch = asl-devel
[submodule "realsense-ros"]
	path = submodules/realsense-ros
	url = git@github.com:IntelRealSense/realsense-ros.git
[submodule "submodules/gazebo_model_collision_plugin"]
	path = submodules/gazebo_model_collision_plugin
	url = git@github.com:SteveMacenski/gazebo_model_collision_plugin.git
