[submodule "franka_ros"]
	path = ext/franka_ros
	url = git@github.com:ethz-asl/franka_ros.git
	branch = melodic-devel
[submodule "ext/ridgeback"]
	path = ext/ridgeback
	url = git@github.com:ethz-asl/ridgeback.git
	branch = asl-devel
[submodule "ext/realsense-ros"]
	path = ext/realsense-ros
	url = git@github.com:IntelRealSense/realsense-ros.git
