[Unit]
Description=Docker container running base nodes
After = network.target docker.service asl-ros-core.service
Requires = docker.service asl-ros-core.service

[Service]
Type = simple
User = asl-admin
Restart = always
ExecStart = /usr/bin/docker run --rm --name asl_base_container --network host -v /dev/input:/dev/input --privileged mobmi
ExecStop = /usr/bin/docker stop -t 10 asl_base_container

[Install]
WantedBy = multi-user.target
