<?xml version="1.0" ?>
<launch>
	<node pkg="ira_laser_tools" name="laserscan_multi_merger" type="laserscan_multi_merger" output="screen" launch-prefix="bash -c 'sleep 20; $0 $@' ">
		<param name="destination_frame" value="/base_link" />
		<param name="cloud_destination_topic" value="/merged_scan_cloud" />
		<param name="scan_destination_topic" value="/merged_scan" />
		<param name="laserscan_topics" value="/front/scan /rear/scan" />
	</node>
</launch>

