<?xml version="1.0"?>
<launch>

    <!-- A copy of this file can be found in mobmi_bringup -->

    <arg name="camera" default="primesense"/>

    <include file="$(find openni2_launch)/launch/openni2.launch" >
        <arg name="camera" value="$(arg camera)"/>
        <arg name="publish_tf" value="false"/>
        <arg name="rgb_camera_info_url" value="file:///home/config/primesense_rgb_yumi.yaml" />
        <arg name="depth_camera_info_url" value="file:///home/config/primesense_ir_yumi.yaml" />
        <arg name="respawn" value="true"/>
    </include>
    <param name="/primesense/driver/z_scaling" type="double" value="1.05" />
    <param name="/primesense/driver/color_depth_synchronization" type="bool" value="true" />
    <param name="/primesense/driver/depth_registration" type="bool" value="true" />
    <param name="/primesense/driver/data_skip" value="5"/>


    <!-- Default frames for PrimeSense device.
         Calibration may improve results, but these defaults are reasonably accurate.
         Based on kinect_frames.launch in rgbd_launch.
    -->

    <arg name="tf_prefix" default="" />

    <arg name="pi/2" value="1.5707963267948966" />
    <arg name="optical_rotate" value="0 0 0 -$(arg pi/2) 0 -$(arg pi/2)" />

    <node pkg="tf" type="static_transform_publisher" name="vi_cam1_to_primesense_rgb_optical_frame"
          args="-0.07722127 -0.08601858 0.01156244 -0.37647852 0.00598064 -0.00344923 0.92639962 vi_cam1 primesense_rgb_optical_frame 20"/>

    <node pkg="tf" type="static_transform_publisher" name="vi_cam1_to_primesense_depth_optical_frame"
          args="-0.10243647 -0.08666967 0.01033051 -0.37630691 0.00845225 0.00176092 0.92645484 vi_cam1 primesense_depth_frame 20"/>


    <!--<node pkg="tf" type="static_transform_publisher" name="$(arg camera)_rgb_optical_frame"
      args="0.02631902 -0.00009434 0.00191875 -0.00187575 0.00044983 0.00583436 0.99998112 $(arg tf_prefix)/$(arg camera)_depth_optical_frame $(arg tf_prefix)/$(arg camera)_rgb_optical_frame 10" />
  -->
    <!--
    <node pkg="tf" type="static_transform_publisher" name="$(arg camera)_base_link_depth"
      args="0 0.05  0 0 0 0 $(arg tf_prefix)/$(arg camera)_link $(arg tf_prefix)/primesense_depth_frame 100" />
  -->
    <!--node pkg="tf" type="static_transform_publisher" name="$(arg camera)_base_link_rgb_frame"
      args="0 0.02 0 0 0 0 $(arg tf_prefix)/$(arg camera)_link $(arg tf_prefix)/primesense_rgb_frame 100" /-->

    <!--<node pkg="tf" type="static_transform_publisher" name="$(arg camera)_depth_depth_optical"
        args="$(arg optical_rotate) $(arg tf_prefix)/$(arg camera)_depth_frame $(arg tf_prefix)/primesense_depth_optical_frame  100" />


    <node pkg="tf" type="static_transform_publisher" name="$(arg camera)_rgb_rgb_optical"
      args="$(arg optical_rotate) $(arg tf_prefix)/$(arg camera)_rgb_frame $(arg tf_prefix)/primesense_rgb_optical_frame 100"/>

-->


    <!-- Trafo from VI-sensor imu to base_link -->
    <!--node pkg="tf" type="static_transform_publisher" name="imu_odom_tf"
      args="-1.262515 -0.02110792 -0.0661221 3.1341086084527863 -1.8502123450266883 -0.01982756295059851 imu0 base_link 10" /-->
    <!--node pkg="tf" type="static_transform_publisher" name="imu_base_link_tf"
      args="-1.262515 -0.02110792 -0.0661221 3.1341086084527863 -1.8502123450266883 -0.01982756295059851 imu base_link 100" /-->
</launch>
