<?xml version="1.0" ?>
<launch>
  <include ns="ridgeback" file="/home/ros_workspace/src/ridgeback_robot/ridgeback_bringup/launch/accessories.launch" />
  <include ns="ridgeback" file="/home/ros_workspace/src/ridgeback_robot/ridgeback_base/launch/base.launch" />
  <include ns="ridgeback" file="/home/launch/merge_laser.launch" />
</launch>
