<?xml version="1.0" ?>
<launch>
  <arg name="launch_rviz" default="true" />

  <rosparam command="load" file="$(find grasp_demo)/config/panda_grasp_demo.yaml" ns="grasp_demo"/>

  <include file="$(find realsense2_camera)/launch/rs_camera.launch">
    <arg name="enable_pointcloud" value="true"/>
  </include>

  <include file="$(find moma_bringup)/launch/panda_control_moveit_rviz.launch">
    <arg name="launch_rviz" value="false"/>
  </include>

  <include file="$(find grasp_demo)/launch/grasp_demo.launch">
    <arg name="launch_rviz" value="$(arg launch_rviz)"/>
  </include>

</launch>
