<?xml version="1.0" ?>
<launch>
    <!-- Arguments -->
    <arg name="semantic" default="false" doc="use Voxblox++ for semantic scene reconstruction" />
    <arg name="launch_rviz" default="false"/>
    <arg name="simulation_mode" default="false"/>
    <arg name="sm" default="true" doc="state machine or behaviour tree"/>

    <!-- ======== Launch everything ======== -->

    <!-- Parameters -->
    <rosparam command="load" file="$(find grasp_demo)/config/grasp_demo.yaml" ns="manipulator/moma_demo" subst_value="true"/>

    <!-- Panda -->
    <include unless="$(arg simulation_mode)" file="$(find moma_bringup)/launch/panda_real.launch">
        <arg name="rviz" value="$(arg launch_rviz)"/>
        <arg name="table" value="false"/>
    </include>
    <include unless="$(arg simulation_mode)" file="$(find moma_bringup)/launch/components/sensors.launch">
        <arg name="wrist_camera" value="true"/>
        <arg name="fixed_camera" value="false"/>
    </include>
    <include if="$(arg simulation_mode)" file="$(find moma_gazebo)/launch/panda_moveit_gazebo.launch"/>

    <!-- <include file="$(find moma_bringup)/launch/panda_moveit_real_camera.launch"> -->
        <!-- <arg name="simulation_mode" value="$(arg simulation_mode)"/> -->
    <!-- </include> -->

    <!-- VGN nodes -->
    <rosparam command="load" file="$(find grasp_demo)/config/vgn_nodes.yaml" subst_value="true" />
    <node unless="$(arg semantic)" pkg="vgn" type="tsdf_server.py" name="tsdf_server" />

    <!-- Action nodes -->
    <node pkg="grasp_demo" type="reset.py" name="reset" ns="manipulator" output="screen"/>
    <node pkg="grasp_demo" type="reconstruct_scene.py" name="scan_action_node" args="$(arg semantic)" ns="manipulator" output="screen" />
    <node pkg="grasp_demo" type="plan_grasp.py" name="plan_grasp" ns="manipulator" output="screen"/>
    <node pkg="grasp_demo" type="execute_grasp.py" name="execute_grasp" ns="manipulator" output="screen"/>
    <node pkg="grasp_demo" type="drop_object.py" name="drop_object" ns="manipulator" output="screen"/>

    <!-- Launch demo script-->
    <node if="$(arg sm)" pkg="grasp_demo" type="run_plan.py" name="grasp_demo" ns="manipulator" output="screen"/>
    <node unless="$(arg sm)" pkg="grasp_demo" type="run_bt.py" name="grasp_demo" ns="manipulator" output="screen"/>

    <!-- Open rviz if desired -->
    <node if="$(arg launch_rviz)" type="rviz" name="rviz" pkg="rviz" args="-d $(find grasp_demo)/config/grasp_demo.rviz" ns="manipulator"/>
</launch>
