<?xml version="1.0" ?>
<launch>

    <!-- Launch camera -->
    <include file="$(find video_stream_opencv)/launch/webcam.launch" />

    <!-- Launch perception scripts -->
    <node pkg="grasp_demo" type="frame_injector.py" name="injector"/>
    <node pkg="grasp_demo" type="mediator_BB.py" name="mediator"/>
    <node pkg="grasp_demo" type="obj_detector.py" name="detector"/>
    <node pkg="grasp_demo" type="obj_tracker.py" name="tracker"/>

</launch>
