<?xml version="1.0" ?>
<launch>
    <!-- Launch the panda control node -->
    <include file="$(find panda_control)/launch/panda_control.launch"/>

    <!-- Start our cartesian velocity controller -->
    <rosparam command="load" file="$(find moma_robot)/config/controllers.yaml" />
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="cartesian_velocity_controller"/>
</launch>
