<?xml version="1.0" ?>
<launch>
    <!-- Launch the panda control node -->
    <!-- <include file="$(find panda_control)/launch/panda_control.launch"/> -->

    <!-- Start our joint velocity controller -->
    <rosparam command="load" file="$(find panda_control)/config/controllers.yaml" />
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="joint_velocity_controller"/>
</launch>
