<?xml version="1.0"?>
<robot name="robotiq_arg2f_85_model" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find moma_description)/grippers/robotiq_2f_85/urdf/robotiq_arg2f_85_model.xacro" />
  <xacro:include filename="$(find moma_description)/grippers/robotiq_2f_85/urdf/robotiq_2f_85_transmission.xacro" />

  <xacro:macro name="robotiq_2f_85" params="parent prefix *origin">
     
    <joint name="${prefix}gripper_base_joint" type="fixed">
	    <parent link="${parent}"/>
      <child link="${prefix}robotiq_arg2f_base_link"/>
      <xacro:insert_block name='origin'/>
    </joint>

    <xacro:robotiq_arg2f_base_link prefix="${prefix}"/>
    <xacro:finger_links prefix="${prefix}" fingerprefix="left" stroke="85"/>
    <xacro:finger_links prefix="${prefix}" fingerprefix="right" stroke="85"/>
    <xacro:finger_joint prefix="${prefix}"/>
    <xacro:right_outer_knuckle_joint prefix="${prefix}"/>

    <!-- Tool frame used by the arm -->
    <link name="${prefix}tool_frame"/>
    <joint name="${prefix}tool_frame_joint" type="fixed">
        <origin xyz="0 0 0.140" rpy="0 0 0" />
        <parent link="robotiq_arg2f_base_link" />
        <child link="${prefix}tool_frame" />
        <axis xyz="0 0 0" />
    </joint>
    
    <xacro:load_gazebo_gripper_transmissions prefix="${prefix}"/>
  </xacro:macro>
</robot>
