<?xml version="1.0" ?>
<launch>
  <!-- Adapted from $(find panda_moveit_config)/launch/panda_control_moveit_rviz.launch -->

  <arg name="launch_rviz" default="true" />

  <!-- Launch the panda control node -->
  <include file="$(find panda_control)/launch/panda_control.launch"/>

  <!-- Start a joint trajectory controller -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="position_joint_trajectory_controller"/>

  <!-- Launch MoveIt -->
  <include file="$(find panda_moveit_config)/launch/move_group.launch"/>

  <!-- If desired, launch a preconfigured Rviz -->
  <include if="$(arg launch_rviz)" file="$(find panda_moveit_config)/launch/moveit_rviz.launch">
    <arg name="rviz_config" value="$(find panda_moveit_config)/launch/moveit.rviz" />
  </include>
</launch>
