<?xml version="1.0"?>
<launch>
  <arg name="rviz" default="true" />
  <arg name="robot_ip" default="$(env FRANKA_IP)" />
  <arg name="publish_world_link" default="true" />
  <arg name="moveit" default="true" />
  <arg name="arm_id" default="panda" />
  <arg name="controller" default="position_joint_trajectory_controller" />
  <arg name="table" default="true" />
 
  <!-- If we don't do moveit, start the interactive markers. -->
  <!-- <arg name="interactive_marker"
    default="$(eval arg('controller') == 'cartesian_impedance_example_controller')"
    doc="Should the interactive marker node be started?" /> -->

  <!-- Launch control -->
  <include file="$(find moma_bringup)/launch/components/franka_control.launch">
    <arg name="robot_ip" value="$(arg robot_ip)" />
    <!--
    publish_default_realsense_extrinsics: whether to publish the default extrinsics between the realsense camera
      frames (rgb-depth). When a real camera is connected, the realsense2 package will publish the actual extrinsics
      that are factory-calibrated for that camera

    ATTENTION: the root of the camera model is the wrist_camera_bottom_screw_frame, so that is
    the one we need to calibrate
    -->
    <arg name="xacro_args"
      value=
      "use_fixed_camera:=false 
      use_wrist_camera:=true 
      publish_default_realsense_extrinsics:=false 
      use_bota:=false
      wrist_calibration_rpy:='-0.3364735294749319 -1.5337040187837523 2.685025444983356'
      wrist_calibration_xyz:='0.03184164124523161 -0.027347168361784732 0.033005013164940346'" />
  </include>

  <!-- Controller settings. -->
  <rosparam command="load"
    file="$(find franka_example_controllers)/config/franka_example_controllers.yaml"
    subst_value="true" />

  <!-- Start required controller -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" args="$(arg controller)" />

  <!-- Fix panda to world -->
  <node if="$(arg publish_world_link)" pkg="tf" type="static_transform_publisher"
    name="world_link_broadcaster" args="0 0 0 0 0 0 1 world panda_link0 100" />

  <!-- Define the table_top_link frams -->
  <!-- TODO: this needs to be calibrated -->
  <!-- The pcd integration code relies on a uniformTSDF, which can only have positive xyz values -->
  <!-- We define the workspace origin to be at the bottom right -->
  <arg name="workspace_center" default="0.4" />
  <arg name="workspace_size" default="0.3" />
  <arg name="table_top_link_name" default="table_top" />

  <arg name="table_link_x" value="$(eval arg('workspace_center') - arg('workspace_size') / 2.0)" />
  <arg name="table_link_y" value="$(eval -arg('workspace_size') / 2.0)" />

  <node pkg="tf" type="static_transform_publisher"
        name="table_link_broadcaster"
        args="$(arg table_link_x) $(arg table_link_y) 0 0 0 0 1 world $(arg table_top_link_name) 100" />

  <!-- Launch MoveIt -->
  <include if="$(arg moveit)" file="$(find panda_moveit_config)/launch/move_group.launch">
    <arg name="load_robot_description" value="false" />
  </include>

  <!-- If desired, launch a preconfigured Rviz -->
  <node if="$(arg rviz)" name="$(anon rviz)" pkg="rviz" type="rviz" respawn="false"
    args="-d $(find moma_bringup)/rviz/panda_moveit.rviz" output="screen">
    <rosparam command="load" file="$(find panda_moveit_config)/config/kinematics.yaml" />
  </node>

  <!-- Start only if cartesian_impedance_example_controller -->
  <!-- <node name="interactive_marker"
    pkg="franka_example_controllers"
    type="interactive_marker.py"
    if="$(arg interactive_marker)">
    <param name="link_name" value="$(arg arm_id)_link0" />
    <remap to="cartesian_impedance_example_controller/equilibrium_pose" from="equilibrium_pose" />
  </node> -->


  <include file="$(find realsense2_camera)/launch/rs_camera.launch">
    <arg name="camera" value="wrist_camera" />
    <arg name="color_width" value="1920" />
    <arg name="color_height" value="1080" />
    <arg name="depth_width" value="640" />
    <arg name="depth_height" value="480" />
    <arg name="depth_fps" value="30" />
    <arg name="enable_pointcloud" value="true" />
    <arg name="publish_tf" value="true" />
    <arg name="align_depth" value="true" />
    <!-- The initial reset true somehow does not work inside the docker container -->
    <!-- <arg name="initial_reset" value="false"/> -->
  </include>

  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />

  <node pkg="tf2_web_republisher"
        type="tf2_web_republisher"
        name="tf2_web_republisher"
        output="screen">
    <param name="default_fixed_frame" value="$(arg table_top_link_name)" />
    <param name="tf_buffer_cache_time" value="10" />

  </node>
  
  <!-- <node pkg="moma_utils" type="panda_grasping_client.py" name="panda_grasping_client" output="screen">
    <param name="table_top_frame" value="table_top_link" />
    <param name="ee_frame" value="panda_default_ee" />
    <param name="camera_frame" value="wrist_camera_depth_optical_frame" />
  </node> -->
</launch>