<?xml version="1.0"?>
<launch>

  <arg name="rviz" default="true"/>
  <arg name="arm_id" default="panda"/>
  <arg name="use_gripper" default="true"/>

  <include file="$(find moma_bringup)/launch/panda_gazebo.launch">
    <arg name="arm_id" value="$(arg arm_id)"/>
    <arg name="use_gripper" value="$(arg use_gripper)"/>
    <arg name="controller" value="position_joint_trajectory_controller"/>
  </include>

    <!-- Launch MoveIt -->
   <include file="$(find panda_moveit_config)/launch/move_group.launch">
      <arg name="load_robot_description" value="false"/>
   </include>

    <node if="$(arg rviz)" name="$(anon rviz)" pkg="rviz" type="rviz" respawn="false" args="-d $(find moma_bringup)/config/panda_moveit.rviz" output="screen">
      <rosparam command="load" file="$(find panda_moveit_config)/config/kinematics.yaml"/>
    </node>
</launch>
