<?xml version="1.0" ?>
<launch>
  <arg name="launch_rviz" default="true" />
  <arg name="config" default="dual_hokuyo_lasers"/>

  <!-- Load description -->
  <param name="robot_description" command="$(find ridgeback_description)/scripts/env_run
          $(find ridgeback_description)/urdf/configs/$(arg config)
          $(find xacro)/xacro $(find moma_description)/urdf/royalpanda.urdf.xacro use_nominal_extrinsics:=true use_fixed_realsense:=false"/>

  <!-- Launch the panda control node -->
  <include file="$(find panda_control)/launch/panda_control.launch">
    <arg name="robot_description" value="$(find moma_description)/urdf/royalpanda.urdf.xacro"/>
    <!-- <arg name="load_robot_description" value="false"/> -->
  </include>

  <!-- Start a joint trajectory controller -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="position_joint_trajectory_controller"/>

  <!-- Launch MoveIt -->
  <include file="$(find royalpanda_moveit_config)/launch/move_group.launch">
    <!-- <arg name="load_robot_description" value="false"/> -->
  </include>

  <!-- If desired, launch a preconfigured Rviz -->
  <include if="$(arg launch_rviz)" file="$(find royalpanda_moveit_config)/launch/moveit_rviz.launch">
    <arg name="rviz_config" value="$(find royalpanda_moveit_config)/launch/moveit.rviz" />
  </include>
</launch>