<?xml version="1.0" ?>
<launch>

  <arg name="rviz" default="true"/>

  <!-- Launch Yumi drivers -->
  <!-- <include file="$(find yumi_support)/launch/robot_interface.launch"/> -->

  <!-- Launch MoveIt -->
  <include file="$(find yumi_moveit_config)/launch/move_group.launch">
    <arg name="allow_trajectory_execution" value="true"/>
    <arg name="fake_execution" value="false"/>
    <arg name="info" value="true"/>
  </include>

  <!-- Launch state publisher -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen"/>

  <!-- Launch rviz if requested -->
  <include if="$(arg rviz)" file="$(find yumi_moveit_config)/launch/moveit_rviz.launch">
    <arg name="rviz_config" value="$(find yumi_moveit_config)/launch/moveit.rviz" />
  </include>

</launch>
