<?xml version="1.0" ?>
<launch>
    <arg name="semantic_grasping" default="false" />

    <!-- Read waypoints for search action -->
    <rosparam command="load" file="$(find fetch_demo)/config/search_waypoints.yaml" />
    <rosparam command="load" file="$(find fetch_demo)/config/joint_configurations.yaml" />

    <!-- Load map onto map server -->
    <node pkg="map_server" name="asl_map_server_node" type="map_server" ns="approach_module" args="$(find fetch_demo)/maps/lasermap_new_table.yaml" output="screen"/>

    <!-- Launch camera -->
    <!-- <include file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="enable_pointcloud" value="true"/>
    </include> -->

    <!-- Bringup robot -->
    <include file="$(find moma_bringup)/launch/mobmi_control_moveit_rviz.launch">
        <arg name="launch_rviz" value="false"/>
    </include>

    <!-- Launch GPD -->
    <node name="detect_grasps" pkg="gpd_ros" type="detect_grasps" output="screen">
      <param name="cloud_type" value="0" />
      <param name="cloud_topic" value="/cloud_stitched" />
      <param name="samples_topic" value="" />
      <param name="config_file" value="$(find grasp_demo)/config/yumi/gpd.cfg" />
      <param name="rviz_topic" value="plot_grasps" />
    </node>

    <!-- Launch the action nodes -->
    <node pkg="fetch_demo" type="search_node.py" name="search_action_node" output="screen"/>
    <node pkg="fetch_demo" type="approach_node.py" name="approach_action_node" output="screen"/>
    <node pkg="grasp_demo" type="simple_scan.py" name="scan_action_node" output="screen" args="yumi_right_arm" />
    <!-- <node pkg="grasp_demo" type="voxbloxpp_scan.py" name="scan_action_node" output="screen"/> -->
    <group if="$(arg semantic_grasping)">
        <node pkg="grasp_demo" type="semantic_grasp_selection.py" name="semantic_grasp_selection_action_node"
            output="screen" />
    </group>
    <group unless="$(arg semantic_grasping)">
        <node pkg="grasp_demo" type="grasp_selection.py" name="grasp_selection_action_node" output="screen"/>
    </group>
    <node pkg="grasp_demo" type="grasp_execution.py" name="grasp_execution_action_node" output="screen" args="yumi_left_arm" />
    <node pkg="fetch_demo" type="drop_move_node.py" name="drop_action_node" output="screen"  args="yumi_left_arm"/>

</launch>
