<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="chimera">
  <xacro:include filename="$(find franka_description)/robots/panda_arm.xacro"/>
  <xacro:include filename="$(find franka_description)/robots/hand.xacro"/>
  <xacro:include filename="$(find mopa_description)/robots/realsense.xacro"/>
  <link name="panda_base"/>
  <xacro:panda_arm xyz="0 0 0" connected_to="panda_base"/>
  <xacro:hand ns="panda" rpy="0 0 ${-pi/4}" connected_to="panda_link8" />

  <!-- Hand-eye calibration -->
  <xacro:property name="xyz_panda_link7_camera_link" value="0.06308534561732076 -0.08993980659751674 0.1481860837701407"/>
  <xacro:property name="rpy_panda_link7_camera_link" value="-2.68850999 -1.56973844 -1.20267232"/>
  <xacro:realsense ns="panda" rpy="${rpy_panda_link7_camera_link}" xyz="${xyz_panda_link7_camera_link}" connected_to="panda_link7"/>

  <!-- Add EE frame -->
  <link name="panda_default_EE"/>
  <joint name="joint_link8_default_ee" type="fixed">
        <parent link="panda_link8"/>
        <child link="panda_default_EE"/>
        <origin rpy="0.000 0.000 -0.785" xyz="0.000 0.000 0.103"/>
  </joint>
</robot>
