<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="mopa">
  <xacro:include filename="$(find mopa_description)/robots/ridgeback.urdf.xacro"/>
  <xacro:include filename="$(find mopa_description)/robots/mounts/main_mount.xacro"/>
  <xacro:include filename="$(find mopa_description)/robots/mounts/panda_mount.xacro"/>
  <xacro:include filename="$(find franka_description)/robots/panda_arm.xacro"/>
  <xacro:include filename="$(find franka_description)/robots/hand.xacro"/>

  <xacro:main_mount connected_to="top_link" />
  <xacro:panda_mount connected_to="main_mount_mount_link" />

  <xacro:panda_arm connected_to="panda_mount_panda_mount" />
  <xacro:hand ns="panda" rpy="0 0 ${-pi/4}" connected_to="panda_link8" />
</robot>
