<?xml version="1.0" ?>

<!-- Top level launch file -->

<launch>
    <!-- arguments -->
    <arg name="launch_rviz" default="false" />
    <arg name="launch_moveit_rviz" default="true" />
    <arg name="world_name" default="worlds/empty.world"/>
    <arg name="gui" default="false" doc="Starts gazebo gui" />


    <include file="$(find mopa_control)/launch/gazebo_wbc.launch">
        <arg name="world_name" value="$(arg world_name)" />
        <arg name="launch_rviz" value="$(arg launch_rviz)" />
        <arg name="gui" value="$(arg gui)" />
    </include>

    <!-- TODO -->
    <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="virtual_joint_broadcaster_0" args="0 0 0 0 0 0 world base_link" /> -->

    <!-- Load joint controller configurations from YAML file to parameter server -->
    <rosparam file="$(find mopa_wbc_moveit_config)/config/ros_controllers.yaml" command="load"/>
    <!-- launch moveit -->
    <include file="$(find mopa_wbc_moveit_config)/launch/move_group.launch">
        <arg name="load_robot_description" value="false"/>
    </include>

    <!-- launch rviz -->
    <include file="$(find mopa_wbc_moveit_config)/launch/moveit_rviz.launch" if="$(arg launch_moveit_rviz)" />
</launch>
