<?xml version="1.0" ?>

<!-- Adapted from $(find panda_moveit_config)/launch/panda_control_moveit_rviz.launch -->

<launch>
  <arg name="robot_ip" default="172.16.0.2" />
  <arg name="load_gripper" default="true" />
  <arg name="launch_rviz" default="true" />

  <include file="$(find franka_control)/launch/franka_control.launch" >
    <arg name="robot_ip" value="$(arg robot_ip)" />
    <arg name="load_gripper" value="$(arg load_gripper)" />
    <arg name="robot_description_xacro" value="$(find mopa_description)/robots/panda_hand_realsense.urdf.xacro"/>
  </include>

  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="position_joint_trajectory_controller"/>
  <include file="$(find panda_moveit_config)/launch/move_group.launch">
    <!-- <arg name="load_gripper" value="$(arg load_gripper)" /> -->
  </include>
  <!-- In Franka's correspondence to this MoveIt launch file, this block is put in its own launch file panda_moveit.launch. -->

  <include if="$(arg launch_rviz)" file="$(find panda_moveit_config)/launch/moveit_rviz.launch">
    <arg name="rviz_config" value="$(find panda_moveit_config)/launch/moveit.rviz" />
  </include>
</launch>
