<library path="src">
  <class name="PositionControl" type="rqt_position_control.position_control.PositionControl"
         base_class_type="rqt_gui_py::Plugin">
    <description>
      Send joint position targets to the robot.
    </description>
    <qtgui>
      <group>
        <label>Robot Tools</label>
        <icon type="theme">folder</icon>
        <statustip>Plugins related to robot tools.</statustip>
      </group>
      <label>Position Control</label>
    </qtgui>
  </class>
</library>
