<?xml version="1.0" ?>
<launch>
    <!-- Launch the panda control_v2 node -->
    <include file="$(find panda_control_v2)/launch/panda_control_v2.launch"/>

    <!-- Start our constrained joint velocity controller -->
    <rosparam command="load" file="$(find panda_control_v2)/config/controllers.yaml" />
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="constrained_joint_velocity_controller"/>
</launch>
