<?xml version="1.0"?>
<launch>
    <arg name="simulation"  default="false"/>
    <arg name="tool"        default="panda_hand"/>
    <arg name="mpc"         default="true"/>
    
    <include file="$(find piloting_demo)/launch/smb_control.launch">
        <arg name="simulation"  value="$(arg simulation)"/>
    </include>

    <include file="$(find piloting_demo)/launch/panda_control_sim.launch">
        <arg name="tool"        value="$(arg tool)"/>
        <arg name="mpc"         value="$(arg mpc)"/>
        <arg name="simulation"  value="$(arg simulation)"/>
    </include>
</launch>