<?xml version="1.0"?>
<launch>
    <arg name="sim"               default="false"/>
    <arg name="global_map_file"   default="$(env HOME)/maps/jfloor/map.yaml"/>
    <arg name="map_file_name"     default="$(env HOME)/maps/jfloor/jfloor.pcd"/>

    <!-- localize agains prebuilt map -->
    <include file="$(find smb_slam)/launch/localization.launch">
        <arg name="launch_rviz"             value="false"/>
        <arg name="launch_sensors"          value="false"/>
        <arg name="use_lidar_odometry"      value="false"/>
        <arg name="launch_lidar_odometry"   value="false"/>
        <arg name="map_file_name"           value="$(arg map_file_name)"/>
        <arg name="parameter_filepath"      value="$(find piloting_demo)/config/localization/icp_params.yaml"/>
    </include>
    
    <!-- Base planner can use a global map and locally replans for obstacle avoidance -->
    <include file="$(find smb_navigation)/launch/navigate2d_ompl.launch">
        <arg name="sim"                 value="$(arg sim)"/>
        <arg name="global_frame"        value="map"/>
        <arg name="use_global_map"      value="true"/>
        <arg name="global_map"          value="$(arg global_map_file)"/>
        <arg name="robot_base_frame"    value="base_link"/>
        <arg name="odom_topic"          value="/base_odom"/>
    </include>

    <!-- Publish base odometry from tracking cam odometry measurements -->
    <node pkg="odometry_conversion" type="odometry_conversion_node" name="tracking_camera_odometry_conversion" output="screen"/>
    
</launch>
