<?xml version="1.0"?>
<launch>
  <!-- ROS bridge for piloting-mavsdk -->
  <include file="$(find mavsdk_ros)/launch/mavsdk_ros.launch">
    <arg name="config_file_path" default="$(find piloting_demo)/config/gcs/mavsdk_ros_config.yaml"/>
  </include>

  <!-- mission state machine -->
  <rosparam command="load" file="$(find moma_mission)/config/state_machine/piloting.yaml"/>
  <node pkg="moma_mission" type="piloting.py" name="piloting_demo" output="screen">
    <param name="telemetry_odom_topic" value="/camera/odom/sample"/>
  </node>

</launch>