<?xml version="1.0" ?>
<launch>
   <!-- start rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find piloting_demo)/config/rviz/sim.rviz" />

  <!-- dashboard -->
  <rosparam command="load" file="$(find piloting_demo)/config/operator/dashboard.yaml"/>
  <node name="moma_dashboard" pkg="rqt_gui" type="rqt_gui" args="--perspective-file $(find piloting_demo)/config/operator/dashboard.perspective">
      <param name="capability_group" value="GUI"/>
  </node>

  <!-- Interactive marker -->
  <node pkg="moma_cartesian_impedance_controller" name="impedance_marker" type="interactive_marker.py">
    <param name="server_name"   value="cartesian_impedance_interactive_target"/>
    <param name="mode"          value="pose"/>
    <param name="base_frame"    value="panda_link0"/>
    <param name="target_frame"  value="tool_frame"/>
    <param name="topic_name"    value="/panda/cartesian_impedance_controller/equilibrium_pose"/>
  </node>


  <!-- Interactive marker -->
  <node pkg="moma_cartesian_impedance_controller" name="mpc_marker" type="interactive_marker.py">
    <param name="server_name"   value="mpc_interactive_target"/>
    <param name="mode"          value="path"/>
    <param name="base_frame"    value="tracking_camera_odom"/>
    <param name="target_frame"  value="tool_frame"/>
    <param name="topic_name"    value="/desired_path"/>
  </node>

</launch>
