<?xml version="1.0"?>
<launch>
    <arg name="gui" default="false" />
    <arg name="rviz" default="true" />
    <arg name="use_fixed_realsense" default="false"/>
    <arg name="tool" default="panda_hand"/>
    <arg name="mpc" default="false"/>

    <!-- Control -->
    <include file="$(find piloting_demo)/launch/smb_control.launch">
        <arg name="simulation" value="false"/>
    </include>
  
    <!-- Sensors -->
    <include file="$(find smb)/launch/sensors.launch">
    </include>
  
    <!-- Navigation -->
    <include file="$(find piloting_demo)/launch/navigation.launch">
        <arg name="sim"               value="true"/>
        <arg name="use_global_map"    value="true"/>
        <arg name="global_map_file"   value="$(env HOME)/storage/maps/jfloor/map.yaml"/>
        <arg name="global_frame"      value="map"/> 
    </include>
  
    <!-- Localization -->
    <include file="$(find piloting_demo)/launch/localization.launch">
        <arg name="map_file_name"   value="$(env HOME)/storage/maps/jfloor/jfloor.pcd"/>
    </include>
    
    <!-- Publish base odometry from tracking cam odometry measurements -->
    <node pkg="odometry_conversion" type="odometry_conversion_node" name="tracking_camera_odometry_conversion" output="screen"/>
    
</launch>
