<?xml version="1.0"?>
<launch>
    <arg name="gui" default="false" />
    <arg name="rviz" default="true" />
    <arg name="use_fixed_realsense" default="false"/>
    <arg name="tool" default="panda_hand"/>
    <arg name="mpc" default="false"/>

    <!-- Control -->
    <include file="$(find piloting_demo)/launch/control.launch">
        <arg name="simulation" value="true"/>
        <arg name="mpc"        value="$(arg mpc)"/>
        <arg name="tool"       value="$(arg tool)"/>
    </include>
  
    <!-- Navigation -->
    <include file="$(find piloting_demo)/launch/navigation.launch">
        <arg name="sim"               value="true"/>
        <arg name="use_global_map"    value="true"/>
        <arg name="global_map_file"   value="$(env HOME)/storage/maps/map.yaml"/>
        <arg name="global_frame"      value="map"/> 
    </include>
  
    <!-- Localization -->
    <include file="$(find piloting_demo)/launch/localization.launch">
    </include>
    
    <!-- Gazebo -->
    <include file="$(find piloting_demo)/launch/gazebo.launch">
        <arg name="use_fixed_realsense" value="$(arg use_fixed_realsense)"/>
        <arg name="control_mode" value="Effort"/>
        <arg name="tool" value="$(arg tool)"/>
        <arg name="gui"  value="false"/>
    </include>

    <!-- Simulation utils-->
    <!-- Publish camera odometry tf-->
    <node pkg="odometry_conversion" type="odometry_conversion_node" name="tracking_camera_odometry_conversion" output="screen"/>
    
    <!-- try cleaner start waiting some time before unpausing -->
    <node name="unpause_gazebo" pkg="moma_gazebo" type="unpause_gazebo.py">
        <param name="wait_before_unpause" value="8.0"/>
    </node>

  
</launch>
