<?xml version="1.0"?>
<launch>
    <arg name="simulation"  default="false"/>
    <arg name="tool"        default="panda_hand"/>
    <arg name="mpc"         default="true"/>
    
    <!-- load a arm only description for the arm controllers -->
    <param name="arm_description" command="$(find xacro)/xacro $(find moma_description)/urdf/panda.urdf.xacro 
      use_nominal_extrinsics:=true use_fixed_realsense:=false tool:=$(arg tool)"/>

    <!-- smb control -->
    <include file="$(find smb_control)/launch/smb_control.launch">
        <arg name="description_name"        value="smb_description"/>
        <arg name="control_namespace"       value="control"/>
        <arg name="robot_namespace"         value=""/>
        <arg name="enable_ekf"              value="false" /> <!-- we cannot use ekf when localization through icp -->
        <arg name="simulation"              value="$(arg simulation)"/>
        <arg name="mpc"                     value="false"/>
        <arg name="publish_robot_state"     value="false"/>  <!-- Since we do this in the current launch for the full robot -->
    </include>
</launch>