<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="giraffe">

    <xacro:arg name="use_fixed_camera" default="false" />
    <xacro:arg name="use_wrist_camera" default="true" />
    <xacro:arg name="use_bota" default="false" />
    <xacro:arg name="load_gripper" default="true" />
    <xacro:arg name="gazebo" default="true" />
    <xacro:arg name="arm_id" default="panda" />

    <xacro:include filename="$(find gmp_robot)/config/urdf/gmp.urdf"/>

    <!-- add link in z-link -->
    <link name="franka_mount_link"/>
    <joint name="arm_mount_joint" type="fixed">
        <parent link="z_axis_link"/>
        <child link="franka_mount_link"/>
        <origin xyz="-0.285 0.0 0.0325" rpy="0 0 3.141" />
    </joint>

    <xacro:include filename="$(find moma_description)/urdf/panda_arm.xacro"/>
    <xacro:moma_panda gazebo="$(arg gazebo)"
                      parent="franka_mount_link"
                      hand="$(arg load_gripper)"
                      arm_id="$(arg arm_id)"
                      use_fixed_camera="$(arg use_fixed_camera)"
                      use_wrist_camera="$(arg use_wrist_camera)"
                      include_control_plugin="true"/>

</robot>
