<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="giraffe">

  <xacro:arg name="use_fixed_camera" default="false" />
  <xacro:arg name="use_wrist_camera" default="true" />
  <xacro:arg name="use_bota" default="false" />
  <xacro:arg name="load_gripper" default="true" />
  <xacro:arg name="gazebo" default="true" />
  <xacro:arg name="arm_id" default="panda" />
  <xacro:arg name="simulation" default="false" />
  <xacro:arg name="publish_realsense_extrinsics" default="true" />
  <xacro:arg name="include_control_plugin" default="false" />

  <xacro:include filename="$(find gmp_robot)/urdf/gmp.xacro"/>
  <xacro:gmp
    include_control_plugin="$(arg include_control_plugin)" 
    multiple_robots="true"
    simulation="$(arg simulation)"
    
    />

  <link name="franka_mount_link"/>
  <joint name="arm_mount_joint" type="fixed">
    <parent link="z_axis_link"/>
    <child link="franka_mount_link"/>
    <origin xyz="-0.285 0.0 0.03" rpy="0 0 3.141"/>
  </joint>

  <xacro:include filename="$(find moma_description)/urdf/panda_arm.xacro"/>
  <xacro:moma_panda gazebo="$(arg gazebo)"
    parent="franka_mount_link"
    hand="$(arg load_gripper)"
    arm_id="$(arg arm_id)"
    use_fixed_camera="$(arg use_fixed_camera)"
    use_wrist_camera="$(arg use_wrist_camera)"
    use_bota="$(arg use_bota)"
    include_control_plugin="$(arg include_control_plugin)"
    multiple_robots="true"
    publish_realsense_extrinsics="$(arg publish_realsense_extrinsics)"
    />

</robot>
