<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="mobmi">

  <!-- Ridgeback -->
  <xacro:include filename="$(find moma_description)/urdf/ridgeback.xacro"/>
  <xacro:ridgeback/>

  <!-- YuMi mount -->
  <xacro:include
    filename="$(find moma_description)/urdf/mounts/yumi_mount.urdf.xacro"/>
  <xacro:yumi_mount connected_to="mid_mount" />

  <!-- YuMi -->
  <!-- State of calibration: Never (insert dd.mm.yyyy as soon as calibrated) -->
  <xacro:property name="mid_mount_to_yumi_xyz" value="0.285 0 0.248" />
  <xacro:property name="mid_mount_to_yumi_rpy" value="0 0 0" />
  <xacro:include filename="$(find moma_description)/urdf/yumi.xacro"/>
  <xacro:yumi connected_to="mid_mount"
    rpy="${mid_mount_to_yumi_rpy}" xyz="${mid_mount_to_yumi_xyz}"/>

</robot>
