<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="mopa">


  <!-- Ridgeback -->
  <xacro:include filename="$(find moma_description)/urdf/ridgeback.xacro"/>
  <xacro:ridgeback/>

  <!-- Panda mount -->
  <xacro:include
    filename="$(find moma_description)/urdf/mounts/panda_mount.urdf.xacro"/>
  <xacro:panda_mount connected_to="mid_mount" />

  <!-- Panda -->
  <!-- State of calibration: Never (insert dd.mm.yyyy as soon as calibrated) -->
  <xacro:property name="mid_mount_to_panda_xyz" value="0.317 0 0.443" />
  <xacro:property name="mid_mount_to_panda_rpy" value="0 0 0" />
  <xacro:include filename="$(find moma_description)/urdf/panda.xacro"/>
  <xacro:arg name="gazebo_panda_hardware_interface"
    default="PositionJointInterface"/>
  <xacro:panda connected_to="mid_mount"
    rpy="${mid_mount_to_panda_rpy}" xyz="${mid_mount_to_panda_xyz}"
    hardware_interface="$(arg gazebo_panda_hardware_interface)"/>

</robot>
