<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="object">
  <xacro:arg name="side_length" default="0.04" />
  <xacro:arg name="mass_m" default="0.05" />
  <xacro:arg name="mass_l" default="0.05" />
  <xacro:arg name="mass_r" default="0.05" />

  <xacro:include filename="$(find moma_description)/urdf/single_cube.xacro" />
  <xacro:i_object side_length="$(arg side_length)"
    mass_m="$(arg mass_m)"
    mass_l="$(arg mass_l)"
    mass_r="$(arg mass_r)" />

  <!-- Apply gazebo fix to succesfully grasp objects -->
  <!-- <gazebo>
  <plugin name="gazebo_grasp_fix" filename="libgazebo_grasp_fix.so">
        <arm>
           <arm_name>panda_arm</arm_name>
           <palm_link> hand_link_name  </palm_link>
           <gripper_link> finger_index_link_1 </gripper_link>
           <gripper_link> finger_index_link_2 </gripper_link>
           <gripper_link> ... </gripper_link>
        </arm>
       <forces_angle_tolerance>100</forces_angle_tolerance>
       <update_rate>4</update_rate>
       <grip_count_threshold>4</grip_count_threshold>
       <max_grip_count>8</max_grip_count>
       <release_tolerance>0.005</release_tolerance>
       <disable_collisions_on_attach>false</disable_collisions_on_attach>
       <contact_topic>__default_topic__</contact_topic>
    </plugin>
  </gazebo> -->

</robot>