<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="panda">
  <xacro:macro name="panda" params="connected_to:='' rpy:='0 0 0' xyz:='0 0 0' use_fixed_realsense:=false 
    tool:='panda_hand' wrist_camera_name:='wrist_camera'">

    <!-- panda arm  -->
    <xacro:include filename="$(find franka_description)/robots/panda_arm.xacro"/>
    <xacro:panda_arm connected_to="${connected_to}" rpy="${rpy}" xyz="${xyz}"/>

    <!-- no tool frame -->
    <xacro:if value="${tool == 'none' or tool == 'panda_hand'}">
      <link name="tool_frame"/>
      <joint name="tool_frame_joint" type="fixed">
        <parent link="panda_link8"/>
        <child link="tool_frame"/>
        <origin rpy="0 0 -0.785398163397" xyz="0 0 0.12"/>
      </joint>
    </xacro:if>

    <!-- panda hand -->
    <xacro:if value="${tool == 'panda_hand'}">
      <!--xacro:include filename="$(find franka_description)/robots/hand.xacro"/-->
      <xacro:include filename="$(find moma_description)/grippers/panda_hand/panda_hand.xacro"/>
      <xacro:include filename="$(find moma_description)/grippers/panda_hand/panda_hand.gazebo.xacro"/>
      <xacro:hand ns="panda" rpy="0 0 ${-pi/4}" connected_to="panda_link8"/>
      <xacro:panda_hand_gazebo arm_id="panda"/>
    </xacro:if>
    <xacro:unless value="${tool == 'panda_hand'}">
      <!-- Add panda hand link if not added by previous block for consistency -->
      <joint name="panda_hand_joint" type="fixed">
        <parent link="panda_link8"/>
        <child link="panda_hand"/>
        <origin rpy="0 0 -0.785398163397" xyz="0 0 0"/>
      </joint>
      <link name="panda_hand"/>
    </xacro:unless>

    <!-- robotiq 2f-85 -->
    <xacro:if value="${tool == 'robotiq_2f_85'}">
      <xacro:include filename="$(find moma_description)/grippers/robotiq_2f_85/urdf/robotiq_2f_85.xacro"/>
      <xacro:robotiq_2f_85 parent="panda_link8" prefix="">
        <origin xyz="0 0 0" rpy="0 0 0"/>
      </xacro:robotiq_2f_85> 
    </xacro:if>

    <!-- robotiq 2f-85 toolset (plate + FT sensor + gripper + zedm camera) -->
    <xacro:if value="${tool == 'robotiq_2f_toolset'}">
      <xacro:include filename="$(find moma_description)/grippers/robotiq_2f_toolset/urdf/robotiq_2f_toolset.xacro"/>
      <xacro:robotiq_2f_toolset parent="panda_link8">
        <origin xyz="0 0 0" rpy="0 0 ${pi/2}"/>
      </xacro:robotiq_2f_toolset> 
    </xacro:if>

    <!-- end effector frame for MoveIt -->
    <link name="panda_default_ee"/>
    <joint name="joint_link8_default_ee" type="fixed">
      <parent link="panda_link8"/>
      <child link="panda_default_ee"/>
      <origin rpy="0.0 0.0 -0.785" xyz="0.0 0.0 0.103"/>
    </joint>

    <!-- wrist realsense -->
    <xacro:include filename="$(find realsense2_description)/urdf/_d435.urdf.xacro" />
    <xacro:include filename="$(find moma_description)/urdf/realsense.gazebo.xacro" />
    <xacro:realsense_gazebo_plugin camera_name="${wrist_camera_name}"/>
    <xacro:property name="panda_link7_camera_bottom_screw_frame_rpy" value="-2.68850999 -1.56973844 -1.20267232" />
    <xacro:property name="panda_link7_camera_bottom_screw_frame_xyz" value="0.06585917 -0.06861364 0.14820608" />
    <xacro:sensor_d435 parent="panda_link7" name="${wrist_camera_name}" use_nominal_extrinsics="true">
      <origin rpy="${panda_link7_camera_bottom_screw_frame_rpy}" xyz="${panda_link7_camera_bottom_screw_frame_xyz}" />
    </xacro:sensor_d435>

    <!-- fixed realsense -->
    <xacro:if value="${use_fixed_realsense}">
      <xacro:realsense_gazebo_plugin camera_name="fixed_camera"/>
      <xacro:property name="base_link_camera_bottom_screw_frame_rpy" value="0 0.79 -0.79" />
      <xacro:property name="base_link_camera_bottom_screw_frame_xyz" value="0.1 0.75 0.9" />
      <xacro:sensor_d435 parent="base_link" name="fixed_camera">
        <origin rpy="${base_link_camera_bottom_screw_frame_rpy}" xyz="${base_link_camera_bottom_screw_frame_xyz}" />
      </xacro:sensor_d435>
    </xacro:if>

  </xacro:macro>
</robot>
