<?xml version='1.0' encoding='utf-8'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="panda">
  <xacro:macro name="panda_gazebo" params="arm_id control_mode:='Position'
    robot_namespace:='' control_namespace:='' description_name:='robot_description' include_gazebo_control:=true">

    <gazebo reference="${arm_id}_link0"/>
    <gazebo reference="${arm_id}_link1"/>
    <gazebo reference="${arm_id}_link2"/>
    <gazebo reference="${arm_id}_link3"/>
    <gazebo reference="${arm_id}_link4"/>
    <gazebo reference="${arm_id}_link5"/>
    <gazebo reference="${arm_id}_link6"/>
    <gazebo reference="${arm_id}_link7"/>
    <gazebo reference="${arm_id}_link8"/>

    <xacro:macro name="arm_control" params="joint_num">
      <transmission name="${arm_id}_joint${joint_num}_trans">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="${arm_id}_joint${joint_num}">
          <hardwareInterface>hardware_interface/${control_mode}JointInterface</hardwareInterface>
        </joint>
        <actuator name="${arm_id}_joint${joint_num}_motor">
          <mechanicalReduction>1</mechanicalReduction>
        </actuator>
      </transmission>
    </xacro:macro>

    <xacro:arm_control joint_num="1"/>
    <xacro:arm_control joint_num="2"/>
    <xacro:arm_control joint_num="3"/>
    <xacro:arm_control joint_num="4"/>
    <xacro:arm_control joint_num="5"/>
    <xacro:arm_control joint_num="6"/>
    <xacro:arm_control joint_num="7"/>

    <xacro:if value="${include_gazebo_control}">
      <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
          <robotNamespace>${robot_namespace}/${control_namespace}</robotNamespace>
          <robotDescription>${description_name}</robotDescription>
          <robotParam>${description_name}</robotParam>
          <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
        </plugin>
      </gazebo>
    </xacro:if>
  </xacro:macro>
</robot>
