<?xml version='1.0' encoding='utf-8'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="panda">

<!-- Adapted from franka_description/robots/common/franka_robot.xacro -->

<xacro:macro name="moma_panda" params="arm_id:='panda'
                                       hand:=true
                                       gazebo:=false
                                       fixed_to_world:=false
                                       connected_to:=''
                                       xyz:='0 0 0'
                                       rpy:='0 0 0'
                                       use_fixed_realsense:=false
                                       use_nominal_extrinsics:=false
                                       include_control_plugin:=false">
  <xacro:include filename="$(find franka_description)/robots/common/utils.xacro" />
  <xacro:include filename="$(find franka_description)/robots/common/franka_arm.xacro" />

  <!-- Positional offset between $(arm_id)_hand -> $(arm_id)_hand_tcp [m]. Only used when hand:=true -->
  <xacro:arg name="tcp_xyz" default="0 0 0.1034" />
  <!-- Rotational offset between $(arm_id)_hand -> $(arm_id)_hand_tcp [rad]. Only used when hand:=true -->
  <xacro:arg name="tcp_rpy" default="0 0 0" />

  <xacro:franka_arm
      arm_id="${arm_id}"
      connected_to="${connected_to}"
      xyz="${xyz}"
      rpy="${rpy}"
      safety_distance="0.03"
      gazebo="${gazebo}"
      joint_limits="${xacro.load_yaml('$(find franka_description)/robots/panda/joint_limits.yaml')}"/>

        <!-- xyz="0 0 0.035" this is from bota -->
  <xacro:if value="${hand}">
    <xacro:include filename="$(find franka_description)/robots/common/franka_hand.xacro"/>
    <xacro:franka_hand
        arm_id="${arm_id}"
        rpy="0 0 ${-pi/4}"
        xyz="0 0 0.0"
        tcp_xyz="$(arg tcp_xyz)"
        tcp_rpy="$(arg tcp_rpy)"
        connected_to="${arm_id}_link8"
        safety_distance="0.03"
        gazebo="${gazebo}"
     />
  </xacro:if>

  <xacro:if value="${gazebo}">
    <!-- Gazebo requires a joint to a link called "world" for statically mounted robots -->
    <xacro:if value="${fixed_to_world}">
      <link name="world" />
      <joint name="world_joint" type="fixed">
        <origin xyz="${xyz}" rpy="${rpy}" />
        <parent link="world" />
        <child  link="${arm_id}_link0" />
      </joint>
    </xacro:if>

    <xacro:gazebo-joint joint="${arm_id}_joint1" transmission="hardware_interface/PositionJointInterface" />
    <xacro:gazebo-joint joint="${arm_id}_joint2" transmission="hardware_interface/PositionJointInterface" />
    <xacro:gazebo-joint joint="${arm_id}_joint3" transmission="hardware_interface/PositionJointInterface" />
    <xacro:gazebo-joint joint="${arm_id}_joint4" transmission="hardware_interface/PositionJointInterface" />
    <xacro:gazebo-joint joint="${arm_id}_joint5" transmission="hardware_interface/PositionJointInterface" />
    <xacro:gazebo-joint joint="${arm_id}_joint6" transmission="hardware_interface/PositionJointInterface" />
    <xacro:gazebo-joint joint="${arm_id}_joint7" transmission="hardware_interface/PositionJointInterface" />

    <xacro:gazebo-joint joint="${arm_id}_joint1" transmission="hardware_interface/VelocityJointInterface" />
    <xacro:gazebo-joint joint="${arm_id}_joint2" transmission="hardware_interface/VelocityJointInterface" />
    <xacro:gazebo-joint joint="${arm_id}_joint3" transmission="hardware_interface/VelocityJointInterface" />
    <xacro:gazebo-joint joint="${arm_id}_joint4" transmission="hardware_interface/VelocityJointInterface" />
    <xacro:gazebo-joint joint="${arm_id}_joint5" transmission="hardware_interface/VelocityJointInterface" />
    <xacro:gazebo-joint joint="${arm_id}_joint6" transmission="hardware_interface/VelocityJointInterface" />
    <xacro:gazebo-joint joint="${arm_id}_joint7" transmission="hardware_interface/VelocityJointInterface" />

    <xacro:gazebo-joint joint="${arm_id}_joint1" transmission="hardware_interface/EffortJointInterface" />
    <xacro:gazebo-joint joint="${arm_id}_joint2" transmission="hardware_interface/EffortJointInterface" />
    <xacro:gazebo-joint joint="${arm_id}_joint3" transmission="hardware_interface/EffortJointInterface" />
    <xacro:gazebo-joint joint="${arm_id}_joint4" transmission="hardware_interface/EffortJointInterface" />
    <xacro:gazebo-joint joint="${arm_id}_joint5" transmission="hardware_interface/EffortJointInterface" />
    <xacro:gazebo-joint joint="${arm_id}_joint6" transmission="hardware_interface/EffortJointInterface" />
    <xacro:gazebo-joint joint="${arm_id}_joint7" transmission="hardware_interface/EffortJointInterface" />

    <xacro:transmission-franka-state arm_id="${arm_id}" />
    <xacro:transmission-franka-model arm_id="${arm_id}"
       root="${arm_id}_joint1"
       tip="${arm_id}_joint8"
    />

    <xacro:if value="${hand}">
      <xacro:gazebo-joint joint="${arm_id}_finger_joint1" transmission="hardware_interface/EffortJointInterface" />
      <xacro:gazebo-joint joint="${arm_id}_finger_joint2" transmission="hardware_interface/EffortJointInterface" />
      <!-- Friction specific material for Rubber/Rubber contact -->
      <xacro:gazebo-friction link="${arm_id}_leftfinger" mu="1.13" />
      <xacro:gazebo-friction link="${arm_id}_rightfinger" mu="1.13" />
    </xacro:if>

    <xacro:if value="${include_control_plugin}">
      <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
          <controlPeriod>0.001</controlPeriod>
          <robotSimType>franka_gazebo/FrankaHWSim</robotSimType>
          <robotNamespace>/panda</robotNamespace>
          <robotParam>robot_description_arm</robotParam>
          <robotDescription>robot_description_arm</robotDescription>
        </plugin>
        <self_collide>true</self_collide>
      </gazebo>
    </xacro:if>
  </xacro:if>

  <!-- end effector frame for MoveIt -->
  <link name="${arm_id}_default_ee"/>
  <joint name="joint_link8_default_ee" type="fixed">
    <parent link="${arm_id}_link8"/>
    <child link="${arm_id}_default_ee"/>
    <origin rpy="0.0 0.0 -0.785" xyz="0.0 0.0 0.103"/>
  </joint>

  <!-- wrist realsense -->
  <xacro:include filename="$(find realsense2_description)/urdf/_d435.urdf.xacro" />
  <xacro:include filename="$(find moma_description)/urdf/realsense.gazebo.xacro" />
  <xacro:realsense_gazebo_plugin camera_name="wrist_camera"/>
  <xacro:property name="panda_link8_camera_bottom_screw_frame_rpy" value="-1.8496651 -1.5663079 -2.0611032" />
  <xacro:property name="panda_link8_camera_bottom_screw_frame_xyz" value="0.019939866636952783 -0.024666706576001673 0.08173953529353692" />
  <xacro:sensor_d435 parent="${arm_id}_link8" name="wrist_camera" use_nominal_extrinsics="${use_nominal_extrinsics}">
    <origin rpy="${panda_link8_camera_bottom_screw_frame_rpy}" xyz="${panda_link8_camera_bottom_screw_frame_xyz}" />
  </xacro:sensor_d435>

  <!-- fixed realsense -->
  <xacro:if value="${use_fixed_realsense}">
    <xacro:realsense_gazebo_plugin camera_name="fixed_camera"/>
    <xacro:property name="base_link_camera_bottom_screw_frame_rpy" value="0 0.79 -0.79" />
    <xacro:property name="base_link_camera_bottom_screw_frame_xyz" value="0.1 0.75 0.9" />
    <xacro:sensor_d435 parent="base_link" name="fixed_camera" use_nominal_extrinsics="${use_nominal_extrinsics}">
      <origin rpy="${base_link_camera_bottom_screw_frame_rpy}" xyz="${base_link_camera_bottom_screw_frame_xyz}" />
    </xacro:sensor_d435>
  </xacro:if>
</xacro:macro>
</robot>
