<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ridgeback">
  <xacro:macro name="ridgeback">

    <!-- Ridgeback -->
    <xacro:include filename="$(find ridgeback_description)/urdf/ridgeback.urdf.xacro"/>

    <!-- Collision detection -->
    <xacro:arg name="ridgeback_collision_detection"
      default="false"/>
    <xacro:if value="$(arg ridgeback_collision_detection)">
      <xacro:include filename="$(find moma_description)/urdf/collision_sensors/ridgeback_collision.gazebo.xacro"/>
    </xacro:if>

    <!-- Sensor mount -->
    <link name="ridgeback_sensor_mount_link">
      <visual>
        <geometry>
          <mesh filename="package://moma_description/meshes/ridgeback_sensor_mount.dae"/>
        </geometry>
      </visual>
      <collision>
        <geometry>
          <mesh filename="package://moma_description/meshes/ridgeback_sensor_mount.dae"/>
        </geometry>
      </collision>
    </link>

  <joint name="ridgeback_sensor_mount_joint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 1.571" />
    <parent link="mid_mount" />
    <child link="ridgeback_sensor_mount_link" />
  </joint>

  <!-- Ground truth odometry for gazebo simulation evaluations -->
  <gazebo>
    <plugin name="p3d_base_controller" filename="libgazebo_ros_p3d.so">
      <alwaysOn>true</alwaysOn>
      <updateRate>50.0</updateRate>
      <bodyName>base_link</bodyName>
      <topicName>ground_truth/state</topicName>
      <gaussianNoise>0.0</gaussianNoise>
      <frameName>world</frameName>
      <xyzOffsets>0 0 0</xyzOffsets>
      <rpyOffsets>0 0 0</rpyOffsets>
    </plugin>
  </gazebo>

  </xacro:macro>
</robot>
