<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="table">

  <!-- Inputs: top and bottom Z coordinates -->
  <xacro:arg name="table_z_top" default="0.15"/>
  <xacro:arg name="table_z_bottom" default="-0.15"/>
  <xacro:arg name="table_size_x" default="0.8"/>
  <xacro:arg name="table_size_y" default="1.0"/>
  <xacro:arg name="table_mass" default="10"/>

  <!-- Properties -->
  <xacro:property name="table_z_top" value="$(arg table_z_top)"/>
  <xacro:property name="table_z_bottom" value="$(arg table_z_bottom)"/>
  <xacro:property name="table_size_x" value="$(arg table_size_x)"/>
  <xacro:property name="table_size_y" value="$(arg table_size_y)"/>
  <xacro:property name="table_mass" value="$(arg table_mass)"/>

  <!-- Derived dimensions -->
  <xacro:property name="size_z" value="${table_z_top - table_z_bottom}"/>
  <xacro:property name="center_z" value="${(table_z_top + table_z_bottom) / 2.0}"/>

  <!-- Table Base Link -->
  <link name="table_root">
    <visual>
      <geometry>
        <box size="${table_size_x} ${table_size_y} ${size_z}"/>
      </geometry>
      <origin xyz="0 0 ${center_z}" rpy="0 0 0"/>
      <material name="white">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>

    <collision>
      <geometry>
        <box size="${table_size_x} ${table_size_y} ${size_z}"/>
      </geometry>
      <origin xyz="0 0 ${center_z}" rpy="0 0 0"/>
    </collision>

    <inertial>
      <mass value="${table_mass}"/>
      <inertia ixx="1" ixy="0" ixz="0" iyy="1" iyz="0" izz="1"/>
    </inertial>
  </link>

  <!-- Gazebo Static Setting -->
  <gazebo reference="table_root">
    <static>true</static>
  </gazebo>

  <!-- Top Center Frame -->
  <!-- <link name="table_top_link">
    <visual>
      <geometry>
        <box size="0.01 0.01 0.01"/>
      </geometry>
      <origin xyz="0 0 0" rpy="0 0 0"/>
    </visual>
  </link>

  <joint name="table_top_joint" type="fixed">
    <parent link="table_root"/>
    <child link="table_top_link"/>
    <origin xyz="0 0 ${table_z_top}" rpy="0 0 0"/>
  </joint> -->

</robot>
