<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="yumi">
  <xacro:macro name="yumi" params="connected_to:='' rpy:='0 0 0' xyz:='0 0 0'">

    <!-- YuMi arms  -->
    <xacro:include filename="$(find yumi_description)/urdf/Util/materials.xacro"/>
    <xacro:include filename="$(find yumi_description)/urdf/Util/utilities.xacro"/>
    <xacro:include filename="$(find yumi_description)/urdf/yumi.xacro"/>
    <xacro:yumi name="yumi" hardware_interface="PositionJointInterface" parent="yumi_mount_link">
      <origin/>
    </xacro:yumi>

    <xacro:unless value="${not connected_to}">
      <joint name="${connected_to}_yumi_joint" type="fixed">
        <parent link="${connected_to}"/>
        <child link="yumi_base_link"/>
        <origin rpy="${rpy}" xyz="${xyz}"/>
      </joint>
    </xacro:unless>

    <!-- YuMi hands -->
    <xacro:include filename="$(find yumi_description)/urdf/Grippers/yumi_servo_gripper.xacro"/>
    <xacro:yumi_servo_gripper name="gripper_l" hardware_interface="hardware_interface/EffortJointInterface" parent="yumi_link_7_l">
      <origin xyz="0 0 0.007" rpy="0 0 ${pi}"/>
    </xacro:yumi_servo_gripper>
    <xacro:yumi_servo_gripper name="gripper_r" hardware_interface="hardware_interface/EffortJointInterface" parent="yumi_link_7_r">
      <origin xyz="0 0 0.007" rpy="0 0 ${pi}"/>
    </xacro:yumi_servo_gripper>


    <!-- Mount realsense -->

    <joint name="realsense_mount_joint" type="fixed">
        <parent link="yumi_link_7_r"/>
        <child link="realsense_mount"/>
        <origin rpy="0 0 0" xyz="0 -0.06 0.05"/>
    </joint>

    <link name="realsense_mount">
      <visual>
        <geometry>
          <!-- TODO(mbreyer) use CAD model for nicer looks -->
          <box size="0.14 0.05 0.04"/>
        </geometry>
      </visual>
      <collision>
        <geometry>
          <box size="0.14 0.05 0.04"/>
        </geometry>
      </collision>
    </link>


    <xacro:property name="xyz_yumi_link7_camera_link" value="-0.021534365646869183 -0.098057755914108952 0.069194569224013028"/>
    <xacro:property name="rpy_yumi_link7_camera_link" value="-2.97446 -1.46168 -1.7345"/>
    <xacro:include filename="$(find moma_description)/urdf/realsense.xacro"/>
    <xacro:realsense ns="yumi" connected_to="yumi_link_7_r" rpy="${rpy_yumi_link7_camera_link}" xyz="${xyz_yumi_link7_camera_link}"/>
  </xacro:macro>
</robot>
