<launch>
  <arg name="gui" default="true" />
  <arg name="paused" default="true" />
  <arg name="rviz" default="true" />

  <!-- start gazebo -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="$(arg paused)" />
    <arg name="gui" value="$(arg gui)" />
  </include>

  <!-- spawn panda -->
  <include file="$(find moma_gazebo)/launch/spawn_panda.launch">
  </include>

  <!-- start joint position trajectory controller -->
  <rosparam file="$(find moma_gazebo)/config/panda_controllers.yaml" command="load" />
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="joint_state_controller position_joint_trajectory_controller franka_gripper" />

  <!-- start a robot state publisher -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen" />

  <!-- start moveit -->
  <include file="$(find panda_moveit_config)/launch/move_group.launch">
    <arg name="load_robot_description" value="false" />
  </include>

  <!-- start rviz -->
  <node if="$(arg rviz)" name="rviz" pkg="rviz" type="rviz" args="-d $(find moma_gazebo)/config/panda_example.rviz" />

</launch>
