<?xml version="1.0"?>
<launch>
  <arg name="gui" default="false" />
  <arg name="rviz" default="true" />
  <arg name="panda_z_position" default="0.0"/>
  <arg name="use_fixed_realsense" default="false"/>
  <arg name="tool" default="none"/>

  <env name="GAZEBO_MODEL_PATH" value="${GAZEBO_MODEL_PATH}:$(find moma_gazebo)/models"/>

  <!-- start gazebo -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="use_sim_time" value="true" />
    <arg name="paused" value="true" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="debug" value="false"/>
  </include>

  <!-- spawn panda -->
  <include file="$(find moma_gazebo)/launch/spawn_panda.launch">
    <arg name="z" value="$(arg panda_z_position)"/>
    <arg name="use_fixed_realsense" value="$(arg use_fixed_realsense)"/>
    <arg name="control_mode" value="Effort"/>
    <arg name="tool" value="$(arg tool)"/>
  </include>

  <!-- spawn valve -->
  <include file="$(find moma_gazebo)/launch/load_valve.launch"/>
  
  <!-- OCS2 params -->
  <param name="ocs2_mpc/task_file"  value="$(find moma_ocs2)/config/mpc/task_panda.info"/>
  <param name="ocs2_mpc/robot_description_ocs2" command="$(find xacro)/xacro $(find moma_description)/urdf/superpanda.urdf.xacro use_nominal_extrinsics:=true tool:='none'"/>
  <include file="$(find panda_mpc)/launch/interactive_marker.launch"/>

  <!-- start joint position trajectory controller -->
  <rosparam file="$(find moma_gazebo)/config/panda_controllers.yaml" command="load" />
  <rosparam file="$(find moma_gazebo)/config/gripper_controllers.yaml" command="load" />
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="joint_state_controller effort_joint_trajectory_controller" />

  <!-- Load but do not start these controllers -->
  <arg name="controllers_load_list" value="joint_space_controller joint_velocity_controller path_admittance_controller mpc_controller"/>
  <node name="controller_loader" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="--stopped $(arg controllers_load_list)" />
 
  <!-- Already start these controllers -->
  <arg name="controllers_start_list" value="path_passthrough_controller"/>
  <node name="controller_starter" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="$(arg controllers_start_list)" />

  <group if="$(eval arg('tool') == 'panda_hand')">
    <node name="gripper_controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="franka_gripper" />
  </group>

  <group if="$(eval arg('tool') in ['robotiq_2f_85', 'robotiq_2f_toolset'])">
    <node name="gripper_controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="robotiq_2f_85_controller" />
  </group>
  
  <!-- start a robot state publisher -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen" />

  <node name="unpause_gazebo" pkg="moma_gazebo" type="unpause_gazebo.py">
    <param name="wait_before_unpause" value="8.0"/>
  </node>

  <!-- start rviz -->
  <node if="$(arg rviz)" name="rviz" pkg="rviz" type="rviz" args="-d $(find moma_gazebo)/config/piloting.rviz" />

  <include file="$(find moma_dashboard)/launch/dashboard.launch"/>

</launch>
