<launch>
    <!-- debug args -->
    <arg name="no_debug" default="true"/>

    <!-- gazebo args -->
    <arg name="gui" default="true" />
    <arg name="moveit" default="true" />
    <arg name="rviz" default="true" />
    <arg name="world_name" default="$(find moma_gazebo)/worlds/cone.world"/>

    <!-- robot args -->
    <arg name="x" default="0" />
    <arg name="y" default="0" />
    <arg name="z" default="1" />
    <arg name="yaw" default="0" />
    <arg name="scan_topic" default="/scan" />
    <arg name="use_gripper" default="true" />
    <arg name="arm_id" default="panda" />
    <arg name="base_id" default="gmp" />
    <arg name="robot_id" default="giraffe" />

    <!-- start gazebo -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg world_name)"/>
        <arg name="use_sim_time" value="true" />
        <arg name="paused" value="false" />
        <arg name="gui" value="$(arg gui)" />
    </include>

    <!-- spawn robot -->
    <include file="$(find moma_gazebo)/launch/spawn_giraffe.launch"/>

    <!-- start moveit -->
    <include file="$(find panda_moveit_config)/launch/planning_context.launch">
        <arg name="load_robot_description" value="false" />
    </include>

    <include if="$(arg no_debug)" file="$(find panda_moveit_config)/launch/move_group.launch">
        <arg name="load_robot_description" value="false" />
    </include>

    <!-- start move_base  -->
    <group if="$(arg no_debug)" ns="mobile_base">
        <!-- Remap topics -->
        <remap from="/mobile_base/scan" to="$(arg scan_topic)"/>
        <remap from="/cmd_vel" to="/swerve_controller/cmd_vel"/>
        <remap from="/odom" to="/swerve_controller/odom"/>

        <!-- Run Move Base and load cost map and planner -->
        <remap from="/mobile_base/cmd_vel" to="/cmd_vel"/>
        <include if="$(arg no_debug)" file="$(find gmp_nav)/launch/move_base.launch"/>
    </group>

    <!-- start rviz -->
    <node if="$(arg rviz)" name="rviz" 
        pkg="rviz" 
        type="rviz" 
        args="-d $(find gmp_bringup)/rviz/default.rviz" />

</launch>
