<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <!-- panda arm args -->
    <arg name="x" default="0.0"/>
    <arg name="y" default="0.0"/>
    <arg name="z" default="0.0"/>
    <arg name="yaw" default="0.0"/>

    <!-- Settings for the arm -->
    <arg name="load_gripper" default="true" />
    <arg name="arm_id" default="panda" />
    <arg name="use_fixed_camera" default="false" />
    <arg name="xacro_args" default="" />
    <arg name="gazebo" default="false" />>
    <arg name="initial_joint_positions" default="" />

    <!-- The name of the parameter under which the URDF is loaded -->
    <arg name="robot_description" default="robot_description" />

    <!-- Load universal robot description format (URDF) -->
    <param name="$(arg robot_description)"
        command="xacro '$(find moma_description)/urdf/giraffe.urdf.xacro' 
            hand:=$(arg load_gripper) 
            arm_id:=$(arg arm_id) 
            gazebo:=$(arg gazebo) 
            use_fixed_camera:=$(arg use_fixed_camera) 
            $(arg xacro_args)" />

    <!-- spawn robot in gazebo -->
    <node name="spawn_giraffe" pkg="gazebo_ros" 
        type="spawn_model" respawn="false" output="screen"
        args="-urdf -param robot_description -model giraffe
        -x $(arg x)
        -y $(arg y)
        -z $(arg z)
        $(arg initial_joint_positions)" />
        <!-- -J panda_joint1 0 -->
        <!-- -J panda_joint2 -0.785 -->
        <!-- -J panda_joint3 0 -->
        <!-- -J panda_joint4 -2.1 -->
        <!-- -J panda_joint5 0 -->
        <!-- -J panda_joint6 1.571 -->
        <!-- -J panda_joint7 0.785" /> -->

</launch>
