<?xml version="1.0"?>
<launch>
  <arg name="x" default="0.0"/>
  <arg name="y" default="0.0"/>
  <arg name="z" default="0.5"/>
  <arg name="use_fixed_realsense" default="false"/>
  <arg name="control_mode" default='Position'/>
  <arg name="tool" default="panda_hand"/>
   
  <!-- send the robot XML to param server -->
  <param name="robot_description" command="$(find xacro)/xacro $(find moma_description)/urdf/superpanda.urdf.xacro use_nominal_extrinsics:=true use_fixed_realsense:=$(arg use_fixed_realsense)
    control_mode:=$(arg control_mode) tool:=$(arg tool)"/>

  <!-- spawn robot in gazebo -->
  <node name="spawn_panda" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen" args="-urdf -param robot_description -model superpanda
      -x $(arg x)
      -y $(arg y)
      -z $(arg z) 
      -J panda_joint1 0
      -J panda_joint2 -0.785
      -J panda_joint3 0
      -J panda_joint4 -2.1
      -J panda_joint5 0
      -J panda_joint6 1.571
      -J panda_joint7 0.785" />

</launch>
