<?xml version="1.0"?>
<launch>
  <arg name="gui" default="false" />
  <arg name="rviz" default="true" />
  <arg name="use_fixed_realsense" default="false"/>
  <arg name="tool" default="none"/>

  <env name="GAZEBO_MODEL_PATH" value="${GAZEBO_MODEL_PATH}:$(find moma_gazebo)/models"/>

  <!-- start gazebo -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="use_sim_time" value="true" />
    <arg name="paused" value="true" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="debug" value="false"/>
  </include>

  <!-- spawn panda -->
  <include file="$(find moma_gazebo)/launch/spawn_superpanda.launch">
    <arg name="use_fixed_realsense" value="$(arg use_fixed_realsense)"/>
    <arg name="control_mode" value="Effort"/>
    <arg name="tool" value="$(arg tool)"/>
  </include>

  <!-- smb control -->
  <include file="$(find smb_control)/launch/smb_control.launch">
    <arg name="control_namespace"       value="control"/>
    <arg name="robot_namespace"         value=""/>
    <arg name="description_name"        value="smb_description"/>
    <arg name="enable_ekf"              value="true" />
    <arg name="simulation"              value="true"/>
    <arg name="mpc"                     value="false"/>
    <arg name="publish_robot_state"     value="false"/>  <!-- Since we do this in the current launch for the full robot -->
  </include>

  <!-- Publish camera odometry tf-->
  <node pkg="odometry_conversion" type="odometry_conversion_node" name="tracking_camera_odometry_conversion" output="screen"/>

  <!-- start joint position trajectory controller -->
  <rosparam file="$(find moma_gazebo)/config/panda_controllers.yaml" command="load" />
  <rosparam file="$(find moma_gazebo)/config/gripper_controllers.yaml" command="load" />
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="joint_state_controller effort_joint_trajectory_controller" />

  <group if="$(eval arg('tool') == 'panda_hand')">
    <node name="gripper_controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="franka_gripper" />
  </group>

  <group if="$(eval arg('tool') in ['robotiq_2f_85', 'robotiq_2f_toolset'])">
    <node name="gripper_controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="robotiq_2f_85_controller" />
  </group>
  
  <!-- start a robot state publisher -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen" />

  <node name="unpause_gazebo" pkg="moma_gazebo" type="unpause_gazebo.py">
    <param name="wait_before_unpause" value="8.0"/>
  </node>

  <!-- start rviz -->
  <node if="$(arg rviz)" name="rviz" pkg="rviz" type="rviz" args="-d $(find moma_gazebo)/config/superpanda.rviz" />

</launch>
