<?xml version="1.0" ?>
<launch>

  <include file="$(find mopa_control)/launch/mopa_control.launch"/>

  <!-- Load velocity controller -->
  <rosparam command="load" file="$(find mopa_controllers)/config/controllers.yaml" />
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" args="cartesian_velocity_controller"/>
  <!-- <node pkg="rviz" type="rviz" output="screen" name="rviz"/> -->

</launch>
