<?xml version="1.0" ?>
<launch>
    <arg name="launch_rviz" default="true" />

    <!-- Launch the Realsense camera -->
    <include file="$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name="enable_pointcloud" value="true"/>
    </include>

    <!-- Launch Panda controller and MoveIt -->
    <include file="$(find mopa_bringup)/launch/panda_control_moveit_rviz.launch">
        <arg name="launch_rviz" value="false"/>
    </include>

    <!-- Launch grasp demo -->
    <include file="$(find panda_grasp_demo)/launch/grasp_demo.launch">
        <arg name="launch_rviz" value="$(arg launch_rviz)"/>
    </include>

</launch>
