<?xml version="1.0" ?>
<launch>
  <arg name="robot_ip" />
  <arg name="load_gripper" default="true" />
  <include file="$(find franka_control)/launch/franka_control.launch" >
    <arg name="robot_ip" value="$(arg robot_ip)" />
    <arg name="load_gripper" value="$(arg load_gripper)" />
  </include>

  <rosparam command="load" file="$(find panda_test)/config/controllers.yaml" />
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen"  args="door_opening_joint_velocity_controller"/>

  <!-- PandaStateService node -->
  <node name="panda_state_service_node" pkg="panda_test" type="panda_state_service" respawn="true" output="screen" args="$(arg robot_ip)" />

  <!-- PandaGripperService node -->
  <node name="panda_gripper_service_node" pkg="panda_test" type="panda_gripper_service" respawn="true" output="screen" args="$(arg robot_ip)" />
</launch>
