<?xml version="1.0" ?>
<launch>
  <arg name="robot_ip" default="172.16.0.2"/>

  <!-- PandaStateService node -->
  <node name="panda_state_service_node" pkg="panda_test" type="panda_state_service" respawn="true" output="screen" args="$(arg robot_ip)" />

  <!-- PandaGripperService node -->
  <node name="panda_gripper_service_node" pkg="panda_test" type="panda_gripper_service" respawn="true" output="screen" args="$(arg robot_ip)" />
</launch>
