<launch>
    <!-- object base -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="object_base" args="0.5 0.1 0.3 1 0 0 0 panda_link0 object_base" />
    
    <!-- object base -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="object_0_base" args="0.5 0.16 0.3 1 0 0 0 panda_link0 object_0_base" />

    <!-- object base -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="object_1_base" args="0.5 0.08 0.3 1 0 0 0 panda_link0 object_1_base" />

    <!-- object base -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="object_2_base" args="0.5 0.0 0.3 1 0 0 0 panda_link0 object_2_base" />

    <!-- middle point -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="middle" args="0.5 0 0.6 1 0 0 0 panda_link0 middle" />

    <!-- tower base -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="tower_base" args="0.5 -0.16 0.3 1 0 0 0 panda_link0 tower_base" />
</launch>
