<launch>
    <!-- object base -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="object_base" args="0.5 0.1 0.2 1 0 0 0 panda_link0 object_base" />

    <!-- middle point -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="middle" args="0.5 0 0.5 1 0 0 0 panda_link0 middle" />

    <!-- tower base -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="tower_base" args="0.5 -0.1 0.2 1 0 0 0 panda_link0 tower_base" />
</launch>
