<?xml version="1.0" ?>
<launch>
  <arg name="launch_realsense"  default="false"/>
  <arg name="debug_apriltag"    default="false"/> <!-- run tracker to debug calibration -->
  <arg name="debug_pcl"         default="false"/> <!-- show point cloud to debug calibration -->

  <!-- Read calibration from file and publish tf -->
	<include file="$(find easy_handeye)/launch/publish.launch">
      <arg name="calibration_file" value="$(find moma_sensor_tools)/config/handeye_calibration.yaml"/>
      <arg name="eye_on_hand" value="true"/>
	</include>

  <!-- Optionally launch the realsense from this launch script -->
  <include file="$(find realsense2_camera)/launch/rs_camera.launch" if="$(arg launch_realsense)">
    <arg name="camera"                value="$(arg camera_name)"/>
    <arg name="enable_depth"          value="$(arg debug_pcl)"/>
    <arg name="enable_pointcloud"     value="$(arg debug_pcl)"/>
    <arg name="enable_sync"           value="true"/>
  </include>

  <!-- April tag tf published from optical center to the tag. Tag should not move in a fixed reference frame -->
  <include file="$(find moma_sensor_tools)/launch/apriltag_tracking.launch" if="$(arg debug_apriltag)">
    <arg name="launch_realsense"  value="true"/>
    <arg name="camera_name"       value="hand_eye"/>
    <arg name="image_topic"       value="color/image_raw"/>
    <arg name="rviz"              value="true"/>
  </include>

</launch>
