<?xml version="1.0" ?>

<launch>
  <!-- arguments -->
  <arg name="load_gripper" default="true" />
  <arg name="load_base" default="true" />
  <arg name="publish_rate" default="30" />
  <arg name="paused" default="false" doc="Starts gazebo in paused mode" />
  <arg name="gui" default="true" doc="Starts gazebo gui" />

  <!-- assemble and load URDF -->
  <group if="$(arg load_base)">
    <param if="$(arg load_gripper)" name="robot_description" command="$(find xacro)/xacro --inorder $(find mopa_description)/robots/ridge_panda_hand.urdf.xacro" />
    <param unless="$(arg load_gripper)" name="robot_description" command="$(find xacro)/xacro --inorder $(find mopa_description)/robots/ridge_panda.urdf.xacro" />
  </group>
  <group unless="$(arg load_base)">
    <param unless="$(arg load_gripper)" name="robot_description" command="$(find xacro)/xacro --inorder $(find franka_description)/robots/panda_arm.urdf.xacro" />
    <param if="$(arg load_gripper)" name="robot_description" command="$(find xacro)/xacro --inorder $(find franka_description)/robots/panda_arm_hand.urdf.xacro" />
  </group>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

  <!-- start simulated world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" default="worlds/empty.world"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="gui" value="$(arg gui)"/>
  </include>

  <!-- launch ridgeback control and teleop nodes -->
  <include file="$(find ridgeback_control)/launch/teleop.launch">
    <arg name="joystick" value="false"/>
  </include>
  <!-- <include file="$(find ridgeback_control)/launch/control.launch" /> -->
  <!-- This ridgeback control node launches a joint publisher which is not required when using gazebo. Therefore the commands from the launch file are replicated here. -->
  <rosparam command="load" file="$(find ridgeback_control)/config/control.yaml" />
  <group if="$(optenv RIDGEBACK_CONTROL_EXTRAS 0)" >
    <rosparam command="load" file="$(env RIDGEBACK_CONTROL_EXTRAS_PATH)" />
  </group>
  <node name="controller_spawner" pkg="controller_manager" type="spawner"
        args="ridgeback_velocity_controller" />
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization" />
  <node pkg="topic_tools" type="relay" name="cmd_vel_relay"
        args="cmd_vel ridgeback_velocity_controller/cmd_vel" />

  <!-- some franka parameters -->
  <rosparam command="load" file="$(find mopa_gazebo)/config/gripper_commands.yaml" ns="franka"/>
  <rosparam command="load" file="$(find mopa_gazebo)/config/default.yaml"/>
  <rosparam command="load" file="$(find mopa_control)/config/mopa_controllers.yaml"/>

  <!-- spawn robot in gazebo -->
  <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model fkahsdfklhdas -z 0.1" respawn="false" output="screen" />

  <!-- launch franka controllers -->
  <node name="franka_controller_spawner" pkg="controller_manager" type="spawner" args=
		"franka/position_joint_trajectory_controller
		franka/gripper_position_controller
        joint_state_controller"/>

  <node pkg="rviz" type="rviz" output="screen" name="rviz" args="-d $(find mopa_gazebo)/launch/mopa.rviz"/>
</launch>
