[Unit]
Description=PILOTING Dashboard Service
Requires=docker.service
After=docker.service
StartLimitIntervalSec=60

[Service]
WorkingDirectory=~/catkin_ws/src/moma/moma_demos/piloting_demo/dashboard
ExecStart=/usr/local/bin/docker-compose up
ExecStop=/usr/local/bin/docker-compose down
TimeoutStartSec=0
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
